
<ion-content>


<ion-label style="top:100px;">Home</ion-label>
<ion-label style="top:160px;">Work</ion-label>
<ion-label style="top:220px;">Add</ion-label>

<ion-input type="text" placeholder="Where to"></ion-input>


</ion-content>


 <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard"  href="/availableroutes/(availableroutes:availableroutes)">
        <ion-icon name="speedometer"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products">
        <ion-icon name="list"></ion-icon>
        <ion-label>availableroutes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>